<!DOCTYPE html>
<html>
<head>
  <title>BoulderMathPlugin</title>
  <%= stylesheet_link_tag    "boulder_math_plugin/application", media: "all" %>
  <%= javascript_include_tag "boulder_math_plugin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
